/*
Theme Name:     Ashar Irfan
Description:    This is a child theme of Cover2.
Version: 		1.0.0
Author:         Ashar Irfan
Author URI: 	https://asharirfan.com
Template:       cover2
License: 		GNU General Public License v2 or later

(optional values you can add: Theme URI, Author URI, Version, License, License URI, Tags, Text Domain)
*/

.site-info p {
	font-size: 1.1rem;
}
